
#observable-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
}

#form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.w-100 {
    width: 100%;
}

.button-row {
    display: flex;
    gap: 1rem;
}