<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div id="form">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (myForm.get('email')?.hasError('email') && !myForm.get('email')?.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (myForm.get('email')?.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <div formGroupName="address">
        <div formGroupName="streetDetails">
          <mat-form-field class="w-100">
            <mat-label>Street Name</mat-label>
            <input matInput formControlName="streetName">
          </mat-form-field>
    
          <mat-form-field class="w-100">
            <mat-label>Street Number</mat-label>
            <input matInput formControlName="streetNumber">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="w-100">
        <mat-label>Amount</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Comments</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    
    <div class="button-row">
      <button mat-flat-button>Submit</button>
      <button mat-button>Reset</button>
    </div>
  </form>