<form [formGroup]="myForm">
    <div id="form">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (myForm.get('name')?.hasError('required')) {
          <mat-error>Please enter a name!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        @if (myForm.get('email')?.hasError('email') && !myForm.get('email')?.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (myForm.get('email')?.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <div formGroupName="address">
        <div formGroupName="streetDetails">
          <mat-form-field class="w-100">
            <mat-label>Street Name</mat-label>
            <input matInput formControlName="streetName">
          </mat-form-field>
    
          <mat-form-field class="w-100">
            <mat-label>Street Number</mat-label>
            <input matInput formControlName="streetNumber">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="w-100">
        <mat-label>Amount</mat-label>
        <mat-select formControlName="amount">
          <mat-option value="500">500</mat-option>
          <mat-option value="1000">1000</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    
    <div class="button-row">
      <button mat-flat-button type="submit" (click)="onSubmit()">Submit</button>
      <button mat-button type="reset" (click)="onReset()">Reset</button>
    </div>
  </form>