.news-table, #get-news {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
}

#news-cached {
    margin-top: 5rem;
}

.table-title {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}