@import '../../mixins';

.news-table, #get-news {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
    overflow: auto;
}

#news-cached {
    margin-top: 5rem;
}

.table-title {
    border-radius: 10px;
    padding: 5px;
    color: white;

    @include respond(mobile) {
        font-size: 0.8rem; 
    }
}