#push-noti {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
}

#notifications-off {
    background-color: crimson;
}

#after-subscribe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#app-badge {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.error {
    text-align: center;
    color: crimson;
    font-weight: bold;
}