@import '../../mixins';

#sse-container {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 700px;
    margin: 1rem auto;
    align-items: center;
    gap: 4rem;

    @include respond(mobile) {
        display: inherit;
    }
}

#receiver,#sender {
    display: flex;
    flex-direction: column;

    @include respond(mobile) {
        margin-bottom: 5rem;    
    }
}